.about-me-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #555151;
}

.profile-image img {
  width: 800px;
  height: 600px;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-me-content {
  flex: 1;
  max-width: 800px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #555151; /* Light background color to create contrast */
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: rgb(235, 235, 235);
}

.about-me-content p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 15px;
  color: aliceblue;
}
